body{
    margin: 0 10px;
    padding: 0;
    background-color: rgb(17, 17, 20);
    color: rgb(233, 232, 220);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2vw;
    box-sizing: border-box;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 1fr 3fr 3fr;
    grid-template-areas:
        "header header"
        "bazy main"
        "kolekcje main";

}

header{
    grid-area: header;
    text-align: center;
    color: orange;
    background-color: black;
}

p{
    display: inline-block;
}

#pThisCollection, #pThisBase {
    color: orangered;
}
div{
    display: block;
}

#bazy{
    grid-area: bazy;
}

#kolekcje{
    grid-area: kolekcje;
}

#main{
    grid-area: main;
}

#dvDataBaseList{
    font-size: 1.5vw;
    height: 40vh;
    overflow: scroll;
    overflow-x: hidden;
    background-color: rgb(27, 27, 31);
}

#dvCollectionList{
    font-size: 1.5vw;
    height: 40vh;
    overflow: scroll;
    overflow-x: hidden;
    background-color: rgb(27, 27, 31);
}
button{
    border-radius: 10px;
    background-color: rgb(77, 29, 1);
    border: 2px solid rgb(245, 170, 51);
    color: orange;
    font-size: 1.4vw;
}
button:hover{
    border-radius: 0px;
}

.dbEl{
    cursor: pointer;
}
.collEl{
    cursor: pointer;
}

.dbEl:hover, .collEl:hover{
    background-color: rgb(156, 54, 18);
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

textarea{
    background-color: darkblue;
    color: orange;
    resize: none;
    margin-top: 2vw;
    margin-left: 1vw;
}

.dataEl{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}